.work-sans-font {
    font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*  shared style */
.display-flex {
    display: flex;
}
main > section{
    margin-top: 130px;
}
.section-title {
    font-size: 2.7rem;
    font-weight: 700;
}
.btn-primary {
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    font-size: 1.5rem;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}
main {
    max-width: 1200px;
    margin: 0 auto;
}
/* dark 2 */
.text-gray{
    color: #424242;
}
/* dark 3 */
.text-light-gray {
    color: #727272;
}
.br-light {
    background: rgba(255, 144, 14, 0.1);
}
.text-primary{
    color: rgb(255, 144, 14);
}


/* header style */





/* navbar related styles */
.brand{
    font-weight: 700;
    font-size: 2rem;
}
.navbar{
   justify-content: space-between;
   align-items: center;
}
.nav-items{
    list-style: none;
    margin-right: 30px;
}
.nav-link {
    text-decoration: none;
    font-weight: 500px;
}
.navbar ,
.banner{
    max-width: 1200px;
    margin: 0 auto;
}
/*  banner area style */
.banner {
    
}

    .banner-title {
        font-size: 4rem;
        font-weight: 700;
        line-height: 75px;
        letter-spacing: 0%;

    }
    .banner-discription {
  }
  /* .banner-content area style */
  .banner-content{
      max-width: 850px;
    margin: 0 auto ;
    text-align: center;
    margin-bottom: 40px;
}
.banner-tamge {
    width: 100%;
}

/* tames */
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.teams  {
    align-items: center;
    gap: 50px;
}

.our_futures{
    
    margin-left: 130px;
    max-width: 530px;
}
#qiuck-list {
    font-weight: 500;   
}

/* future section style */
.future-title , .future-card {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.futures{
    gap: 140px;
    display: flex;
    margin-top: 100px;
    max-width: 1200px;
}
.future-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px ;
}


#future-section-title {
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 20PX;
}

/* some fact related style */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn-primary , .Year {
    /* width: 500px; */
    padding: 30px 25px;
    font-size: 30px;
}
.btn-primary, span {
  margin-top: -70px;
  margin-left: -40px;
}
.btn-primary,.Experience{
    font-size: 20px;
}
.btn-primary , .Year {
    font-size: 50px;
}
.fact-card {
    border: 1px solid #ff900e;
    width: 200px;
    height: 180px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number {
   font-size: 1.2rem;
   font-weight:600 ;
   margin-top: 5;
   margin-bottom: 10px;
}
.fact-name {
    font-size: 1em;
    margin-top: 10px;
}
.fact-discription{
    max-width: 540px;
}

.sponsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);    
}
.sponsor-companies img {
    filter: grayscale(100%);
}


/*  future area */



  /*  Responsive Media Query */



  @media screen and (max-width: 576px) {
 .navbar,
 .nav-links,
 .teams{
        flex-direction: column;
    }
  
    .team-img-container,
    .fact-container,
    .sponsor-companies 
    {
        grid-template-columns: 1fr;
    }
.fact-container {
    justify-items: center;
    gap: 24px;
}
.sponsor-companies {
  justify-items: center;
  gap: 30px;
}
.our_futures {
        margin-left: 20px;
    }
    .futures {
        flex-direction: column;
    }
    .futures img {
        max-width: 100%;
    }
    .btn-primary, span {
        margin-top: 0px;
        margin-left: 0px;
      }
    
  }
  /*  */
  @media screen and (min-width: 576px) and ( max-width:996px) {
    
    .teams{
        flex-direction: column;
    }
  .our_futures {
    margin: 50px auto;
  }
  .sponsor-companies,
  .fact-container
  {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }


  }